body {
    margin: 0% 15%;
    //margin: 60px auto;
    width: 70%;
    //background-image: url("/Photo/Chicago_dove.png");
    background-size: 100%; 
    background-repeat: no-repeat
}
nav ul, footer ul {
    font-family:'times', 'Arial', 'Sans-Serif';
    padding: 0px;
    list-style: none;    
}
nav ul li, footer ul li {
    display: inline;
    margin-right: 20px;
}
a {
    font-family:'Times', 'Arial', 'Sans-Serif';
    text-decoration: None;
    font-size: 1em;
        
}
a:hover {
    text-decoration: underline;
}
h1 {
    font-size: 2em;
    font-family:'Times', 'Arial', 'Sans-Serif';
    font-weight: bold;
    //color: green
}
p {
    font-family:'times', 'Arial', 'Sans-Serif';
    font-size: 1em;
    line-height: 1.4em;
    color: rgb(66, 1, 47);
}
footer {
    border-top: 1px solid #d5d5d5;
    font-size: .8em;
}

h4 {
    font-family:'times';
    font-size: 1em;
}
ul.posts { 
    margin: 20px auto 40px; 
    font-size: 1.5em;
}

ul.posts li {
    list-style: none;
}

Index_home{
    font-family:'Times', 'Arial', 'Sans-Serif';
    font-size: 1em;
    color: white;
    font-weight: bold;
    //text-decoration: underline
}
