<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


<link href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap" rel="stylesheet"> <!-- ubuntu -->

<link href="https://fonts.googleapis.com/css2?family=Exo:wght@300&display=swap" rel="stylesheet"> <!-- Exo -->
<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400&display=swap" rel="stylesheet"> <!-- roboto-->
<link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@400&display=swap" rel="stylesheet"> <!-- roboto Condensed -->

<link href="https://fonts.googleapis.com/css2?family=Oxygen:wght@400&display=swap" rel="stylesheet"> <!-- oxygen -->

<link href="https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@300&display=swap" rel="stylesheet"> <!-- source code pro-->

<link href="https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@200&display=swap" rel="stylesheet"> <!-- roboto Mono-->

<link href="https://fonts.googleapis.com/css2?family=Xanh+Mono&display=swap" rel="stylesheet"><!--Xanh Mono-->

<link href="https://fonts.googleapis.com/css2?family=PT+Mono&display=swap" rel="stylesheet"> <!-- PT mono-->
<link href="https://fonts.googleapis.com/css2?family=PT+Serif&display=swap" rel="stylesheet"> <!-- PT serif-->

<link href="https://fonts.googleapis.com/css2?family=Chakra+Petch&display=swap" rel="stylesheet"><!--Chakra Petch-->

<link href="https://fonts.googleapis.com/css2?family=Courier+Prime&display=swap" rel="stylesheet"><!--courier prime-->

<link href="https://fonts.googleapis.com/css2?family=VT323&display=swap" rel="stylesheet"><!-- VT323 -->

<link href="https://fonts.googleapis.com/css2?family=Tomorrow:wght@300&display=swap" rel="stylesheet"><!-- Tomorrow -->

<link href="https://fonts.googleapis.com/css2?family=Aldrich&display=swap" rel="stylesheet"><!-- Aldrich -->

<link href="https://fonts.googleapis.com/css2?family=Lato:wght@400&display=swap" rel="stylesheet"> <!-- Lato -->

<link href="https://fonts.googleapis.com/css2?family=Kurale&display=swap" rel="stylesheet"> <!-- Kurale -->

<link href="https://fonts.googleapis.com/css2?family=DotGothic16&display=swap" rel="stylesheet"> <!-- DotGothic16 -->

<link href="https://fonts.googleapis.com/css2?family=Montserrat+Alternates&display=swap" rel="stylesheet"> <!-- Montserrat Alternates -->

<link href="https://fonts.googleapis.com/css2?family=Jockey+One&display=swap" rel="stylesheet"> <!-- Jockey One -->

<link href="https://fonts.googleapis.com/css2?family=Red+Hat+Text:wght@400&display=swap" rel="stylesheet"> <!-- Red Hat Text -->

<link rel="stylesheet" type="text/css"
    href="https://cdn.rawgit.com/dreampulse/computer-modern-web-font/master/fonts.css">
    <!--Computer Modern Sans-->

<!-- <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin> -->
<link href="https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap" rel="stylesheet"> <!-- foobar font -->