<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

 <link href="./CSS/main.css" rel="stylesheet" type="text/css" />

 <style>
     .footer{
         max-height: 3.0vw;
         background-color:black;
         /*background-image:linear-gradient(#777777,black);*/
         color:white;
         bottom:0px;
         left:0px;
         width:100vw;
         position:fixed;
         z-index: 9999;
         padding-top:0px;         
         //text-align:center;        
     }
     .footer>ul{
         margin: 0.2vw 0px ;
         padding:0em;
         
     }
     .footer>ul>div{
        text-align:center;
        font-size: 1.0vw;
        background-color:inherit;
        border-top: 1px solid white;
     }
     .footer>ul>div>span{
        width: 100vw;
     }
     .footer>ul li{
         list-style: none;
         display:inline;   
         margin: 0vh 0.8vw;      
     }
     
    ul>div>span>li>a>i{
        color:white;                
    }
    .footer>ul>div:after{
        content: "©2021 Lorenzo Lu";
        color:white;
        right:5%;
        position:absolute;
        float:hidden;
        font-size:0.8vw;
    }
 </style>

<div></div>
<div class = 'footer'>
        <ul>            
            <div style='color: white;'>
                <span style="border: 1px solid white; border-top:1px solid black;position:relative;top:0vw;">
                <li>
                    <a href="mailto:ylu289@wisc.edu">
                        <i class = "fa fa-envelope"></i></a></li>
                        
                <li><a href="https://github.com/Lorenzo-lu"><i class = "fa fa-github"></i></a></li>
                
                <li><a href="https://www.linkedin.com/in/yizhou-lu-830233124/"><i class = "fa fa-linkedin-square"></i></a></li> 

                <li><a href="https://www.facebook.com/profile.php?id=100012885367579"><i class = "fa fa-facebook-square"></i></a></li>  

                <li><a href="https://www.researchgate.net/profile/Yizhou_Lu3"><i class = "fa fa-flask"></i></a></li>
                </span>
                </div>
            </ul>
</div>


<div id = 'offset'style='height:5.0vw;background-color:transparent;'></div>