<link href="/virtual_root/CSS/main.css" rel="stylesheet" type="text/css" />    
<link href="/virtual_root/CSS/sidebar.css" rel="stylesheet" type="text/css" /> 
<link href="/virtual_root/CSS/text_figure.css" rel="stylesheet" type="text/css" /> 
<link href="/virtual_root/CSS/includeHTML.css" rel="stylesheet" type="text/css" /> 
<link href="/virtual_root/CSS/collapse_button.css" rel="stylesheet" type="text/css" /> 

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/katex@0.10.2/dist/katex.min.css" integrity="sha384-yFRtMMDnQtDRO8rLpMIKrtPCD5jdktao2TV19YiZYWMDkUR5GQZR/NOVTdquEx1j" crossorigin="anonymous">


<!--
<style>
     body,*{
        line-height:inherit!important; // use important to force!
     }
     pre:not(.hljs), pre.hljs code > div{
         background-color: white/*,#f6f8fa*/;
         border:0.1vw solid;
         color:blue;
         padding: 1.0vw;
         border-radius: 0px;
     }
</style>
-->