<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<style>
    #template_footer > ul > div > li> a{
        color: black;
    };
    #template_footer > ul >div > li{
        text-align: center;
    };
     #template_footer > ul > div > li> a > i{
        padding: 0% 0%;
        margin: 0% 0%;
    }
</style>
<footer id='template_footer'>
    <hr>
            <!--
    		<ul>
        		<li><a href="mailto:ylu289@wisc.edu"><img border="0" src="/Logos/Email_logo.png" width = "20px" height = "20px"></a></li>
        		<li><a href="https://github.com/Lorenzo-lu"><img border="0" src="/Logos/github_logo.png" width = "20px" height = "20px"></a></li>
                <li><a href="https://www.linkedin.com/in/yizhou-lu-830233124/"><img border="0" src="/Logos/Linkedin_logo.png" width = "20px" height = "20px"></a></li>
                <li><a href="https://www.researchgate.net/profile/Yizhou_Lu3"><img border="0" src="/Logos/RG_logo.png" width = "20px" height = "20px"></a></li>
                <li><a href="https://www.facebook.com/profile.php?id=100012885367579"><img border="0" src="/Logos/FB_logo.png" width = "20px" height = "20px"></a></li>
			</ul>
            -->
            
            <ul >
                <div style='font-size:150%; color: white!important'>
                <li>
                    <a href="mailto:ylu289@wisc.edu">
                        <i class = "fa fa-envelope"></i></a></li>
                        
                <li><a href="https://github.com/Lorenzo-lu"><i class = "fa fa-github"></i></a></li>
                
                <li><a href="https://www.linkedin.com/in/yizhou-lu-830233124/"><i class = "fa fa-linkedin-square"></i></a></li> 

                <li><a href="https://www.facebook.com/profile.php?id=100012885367579"><i class = "fa fa-facebook-square"></i></a></li>  

                <li><a href="https://www.researchgate.net/profile/Yizhou_Lu3"><i class = "fa fa-flask"></i></a></li>
                </div>
            </ul>
            

            <h4>
            Computational Optics Group, the University of Wisconsin-Madison
            </h4>

            <div title = 'authority'>
                <a href = 'https://github.com/Lorenzo-lu' target = 'blank' style = 'font-size:0.75em; color: black'>
                © 2021 Lorenzo Lu 
                </a>
            </div>
            
            </div>
</footer>