<!DOCTYPE html>
<html>

<head >
	<title>Lorenzo Lu</title>
	<!-- link to main stylesheet -->
	<link rel="stylesheet" type="text/css" href="/css/main.css">
</head>
    

    <body>        
        <div class="sidebar">
        <img style="background-color:white;" border = "0px" src = "/Logos/compass.png" width = "30%"  title = "Navigator" > 
        <br>
        
            <div class = "sidebar-list">
                <div style="color:white; list-style: none;">
                    <li><a href="/"><sidebar_item>Home</sidebar_item></a></li>
                    <li><a href="/About/Interests.html"><sidebar_item>About</sidebar_item></a></li>
                    <li><a href="/CV/CV_2020_sep.pdf" target = "blank"><sidebar_item>CV</sidebar_item></a></li>

                    <li><a href="/Gallery"><sidebar_item>News</sidebar_item></a></li>

                    <li><a href="/Blogs/blog_catalog.html"><sidebar_item>Blog</sidebar_item></a></li>
                    
                    <li><a href="/Publications/Publications.html"><sidebar_item>Publications</sidebar_item></a></li>
                    <li><a href="/Maths/Maths_dict.html"><sidebar_item>Misc<sidebar_item>
                        </a></li>    
                </div>
                
            </div>
        </div>
        

       <header id = 'template_header'> 
        <nav>
            <ul > <!-- put li into a row-->
            
            <img border = "0px" src = "/Photo/Chicago_Skyline.jpg" width = "100%"  title = "The City of Chicago by Lorenzo" >
            <div style="position:absolute; z-index:2; left:5%; top:5%;">
                
                <li><a href="/"><Index_home>Home</Index_home></a></li>
                <li><a href="/About/Interests.html"><Index_home>About</Index_home></a></li>
                <li><a href="/CV/CV_2020_sep.pdf" target = "blank"><Index_home>CV</Index_home></a></li>

                <li><a href="/Gallery"><Index_home>News</Index_home></a></li>

                <li><a href="/Blogs/blog_catalog.html"><Index_home>Blog</Index_home></a></li>
                
                <li><a href="/Publications/Publications.html"><Index_home>Publications</Index_home></a></li>
                <li><a href="/Maths/Maths_dict.html"><Index_home>Misc</Index_home></a></li>           

                
            </div>
            
            <div style="position:absolute; z-index:2; left:5%; top:80%">
                <h1 style="color: white; font-size: 24px" >Hi there, I'm Lorenzo!</h1>
            </div>
            
            
            </ul>
        </nav>
    </header>

     
    
    
    
    
	
		
		<footer id='template_footer'>
            
    		<ul>
        		<li><a href="mailto:ylu289@wisc.edu"><img border="0" src="/Logos/Email_logo.png" width = "20px" height = "20px"></a></li>
        		<li><a href="https://github.com/Lorenzo-lu"><img border="0" src="/Logos/github_logo.png" width = "20px" height = "20px"></a></li>
                <li><a href="https://www.linkedin.com/in/yizhou-lu-830233124/"><img border="0" src="/Logos/Linkedin_logo.png" width = "20px" height = "20px"></a></li>
                <li><a href="https://www.researchgate.net/profile/Yizhou_Lu3"><img border="0" src="/Logos/RG_logo.png" width = "20px" height = "20px"></a></li>
                <li><a href="https://www.facebook.com/profile.php?id=100012885367579"><img border="0" src="/Logos/FB_logo.png" width = "20px" height = "20px"></a></li>
			</ul>
            <h4>
            Computational Optics Group, the University of Wisconsin-Madison
            </h4>

            <div title = 'authority'>
                <a href = 'https://github.com/Lorenzo-lu' target = 'blank' style = 'font-size:0.75em; color: black'>
                © 2021 Lorenzo Lu 
                </a>
            </div>
            
            </div>
		</footer>
    
    <div style="font-size:8px">
   
    Today's visits:
     <a href='https://free-hit-counters.net/'>Free Hit Counters</a> <script type='text/javascript' src='https://www.freevisitorcounters.com/auth.php?id=457218e2e9e591d7b8fb5c066e10c3cb3e4a5115'></script>
    <script type="text/javascript" src="https://www.freevisitorcounters.com/en/home/counter/792271/t/5"></script>
    </div>
</html>